@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,600&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

.navbar-color {
  background-color: #061728;
}
.author-name {
  color: #fcbc1d;
}
.home-color {
  background: linear-gradient(
    to top,
    #010e1b,
    #051322,
    #07182a,
    #071c32,
    #09203a
  );
}

.mt-10 {
  margin-top: 150px !important;
}
.mt-8 {
  margin-top: 80px !important;
}
.card-custom {
  border-radius: 1rem !important;
  text-align: center !important;
  background-color: rgba(110, 110, 110, 0.1) !important;
  padding: 2rem !important;
  margin-top: 10px !important;
  transition: all 0.1s ease-in;
  cursor: pointer;
  font-size: small;
}

.card-custom-interest::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #dee2e6;
  margin: 4px 10px;
}

.card-custom:hover {
  scale: 0.9;
}

.svg-border-rounded {
  border: 1px solid black !important;
  display: inline-block !important;
  padding: 1rem !important;
  border-radius: 50% !important;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.svg-border-rounded:hover {
  scale: 0.95;
}

.custom-card {
  width: 20vw;
}

.custom-card > div {
  text-align: center;
}

.custom-card-img-container {
  position: relative;
}

.overlay {
  color: white;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 0.3s ease-in;
}

.overlay:hover {
  opacity: 1;
}

.vertical-timeline::before {
  color: #010e1b !important;
}

#fb > span > svg {
  fill: rgb(14, 142, 241) !important;
}
#linkedin > span > svg {
  fill: rgb(10, 102, 194) !important;
}
